---
layout: us
title: Sponsors
weight: 35
---
<div class="ui vertical stripe segment">
    <div class="ui text container">
        <h1>Sponsors</h1>
        <div class="ui segments">
            <div class="ui segment items">
                <h2 class="faded">HEAD (videography) Sponsor</h2>
                {% include sponsorship-item.html event="us" level="HEAD" %}
            </div>
            <div class="ui segment items">
                <h2 class="ui two column grid faded">
                  <div class="column">OPTIONS</div>
                  <div class="right aligned column">
                    <a class="ui large button" href="mailto:info@restfest.org">
                        <i class="icon mail"></i> Email us for a Prospectus
                    </a>
                  </div>
                </h2>
                <div class="ui item">
                </div>
            </div>
            <div class="ui segment items">
                <h2 class="faded">PATCH (shirts!)</h2>
                {% include sponsorship-item.html event="us" level="PATCH" %}
            </div>
            <div class="ui segment items">
              <h2 class="ui two column grid faded">
                <div class="column">POST</div>
                <div class="right aligned column">
                  <a class="ui large button" href="mailto:info@restfest.org">
                      <i class="icon mail"></i> Email us for a Prospectus
                  </a>
                </div>
              </h2>
              <div class="ui top aligned smedium images">
                {% include sponsorship-image.html event="us" level="POST" %}
              </div>
            </div>
            <div class="ui segment items">
                <h2 class="ui two column grid faded">
                  <div class="column">PUT</div>
                  <div class="right aligned column">
                    <a class="ui large button" href="mailto:info@restfest.org">
                        <i class="icon mail"></i> Email us for a Prospectus
                    </a>
                  </div>
                </h2>
                <div class="ui item">
                </div>
            </div>
            <div class="ui segment items">
              <h2 class="ui two column grid faded" id="friends">
                <div class="column">GET</div>
                <div class="right aligned column">
                  <a class="ui large button" href="mailto:info@restfest.org">
                      <i class="icon mail"></i> Email us for a Prospectus
                  </a>
                </div>
              </h2>
              {% include sponsor-avatars.html event="us" level="GET" %}
            </div>
            <div class="ui segment items">
              <h2 class="ui two column grid">
                <div class="column faded">rel="friend"</div>
                <div class="right aligned column">
                  <tito-button event="rest-fest/rest-fest-us-2016" class="ui button">Add it with your registration!</tito-button>
                </div>
              </h2>
              <div class="ui item">
                <div class="content">
                  {% include sponsor-avatars.html event="us" level="rel_friend" %}
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
