<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="six wide column">
                <h3 class="ui header">About REST Fest</h3>
                <p>Our objective is to give people interested in <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">REST</a>, <a href="http://en.wikipedia.org/wiki/HATEOAS">Hypermedia APIs</a>, crafting web service APIs, or any related topics a chance to get together in an informal setting to  share ideas, trade  stories, and show examples of current work.</p>
            </div>
            <div class="eight wide right floated column">
              <iframe src="https://player.vimeo.com/video/166110814?color=c9ff23&amp;title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" height="250" width="440"></iframe>
            </div>
        </div>
    </div>
</div>
